.side-menu{
    height: 100%;
    background-color: #333 !important;

}

.hide{
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.side-bar-item {
    height: 50px !important;
    font-size: 16px;
    color: #fff !important;
}

.ant-menu-item-selected {
    background-color: rgb(102, 102, 102) !important;
}
.ant-menu-item {
    height: 200px;
}
.ant-menu-item:hover {
    background-color: rgb(102, 102, 102) !important;
}

.side-bar-icon{
    font-size: 25px !important ;
}


