.login-title {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}

.login-form {
    padding: 50px 20px 20px 20px;
    width: 400px ;
    height: 400px ;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(58, 109, 123) 5px 5px 20px ;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ant-form-item-has-error .form-input input{
  background-color: green;
  border-color: #4d56ff;
}

.form-input{
    width: 250px;
    height: 40px ;
    border-radius: 2px;
    background-color: rgb(240, 245, 245);
    border: none;
    transition: .5s;
}
.form-input input{
    border-radius: 2px;
    background-color: rgb(240, 245, 245);
    border: none;
    transition: .5s;
}

.form-input:focus{
    outline: none;
    background-color: rgb(220, 225, 225);
}
.form-input:hover{
    background-color: rgb(220, 225, 225);    
}

.form-input:focus > input{
    outline: none;
    background-color: rgb(220, 225, 225);
}
.form-input:hover > input{
    background-color: rgb(220, 225, 225);    
}

.login-button-container {
    justify-content: center;
    align-items: center;
}

.login-form-button {
    width: 200px;
}

.regis-word{
    margin-top: 20px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.regis-word > span{
    text-decoration: underline;
    cursor: pointer;
    transition: .3s;
    margin-left: 10px;
}
.regis-word > span:hover{
    color: #000;
}

.log-out-or-not-container{
    display: flex;
    flex-direction: row;
}

.log-out-or-not {
    width: 100px;
    height: 30px;
    margin: 0 30px 0 30px;
    padding: 20px;
    align-items: center;
    line-height: 5px;
}

